@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap') ;

body {
  font-family: Noto Sans , sans-serif;
  margin: 0;
  padding: 0;
}

body * {
  box-sizing: border-box;
}

.main-login {
  align-items: center;
  background: #201b2c;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.left-login {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 200px;
  width: 50vh;
}

.left-login > h1 {
  color: #77ffc0;
  font-size: 3vh;
}

.left-login-image {
  border-radius: 50px;
  width: 35vw;
}

.right-login {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 50vh;
}

.card-login {
  align-items: center;
  background: #2f2841;
  border-radius: 20px;
  box-shadow: 0.5px 10px 40px #00000056;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px 35px;
  width: 60%;
}

.card-login > h1 {
  color: #0f8;
  font-weight: 800;
  margin: 0;
  text-align: center;
}

.text-field {
  margin: 10px 0.5px;
  width: 100%;
}

.text-field > input {
  background: #514869;
  border: none;
  border-radius: 10px;
  box-shadow: 0.5px 10px 40px #00000056;
  box-sizing: border-box;
  color: #f0ffffde;
  font-size: 12pt;
  outline: none;
  padding: 15px;
  width: 100%;
}

.text-field > input::placeholder {
  color: #f0ffff94;
}

.btn-login {
  background: #0f8;
  border: none;
  border-radius: 8px;
  box-shadow: 0.1px 10px 40px -12px #00ff8052;
  color: #2b134b;
  cursor: pointer;
  font-weight: 800;
  letter-spacing: 3px;
  margin: 25px;
  outline: none;
  padding: 16px 0.1px;
  text-transform: uppercase;
  width: 100%;
}

@media only screen and ( min-width : 950px ) {

  .card-login {
    width: 85%;
  }
}

@media only screen and ( max-width : 800px ) {

  .main-login {
    display: flex;
    flex-direction: column;
  }

  .left-login > h1 {
    display: none;
  }

  .left-login {
    height: auto;
    width: 100%;
  }

  .right-login {
    height: auto;
    width: 100%;
  }

  .left-login-image {
    width: 40vh;
  }

  .card-login {
    width: 90%;
  }
}
